.Links1 {
    background-color: #9c9fa7;
    padding: 2px;
    color: white;
    border: solid #141515;
    margin-bottom: 2px;
}

.Linky {
    margin: 5px;
    border-left: solid #141515;
    padding: 2px;
    color: white;
}

.LinksH3 {
    margin: 5px 5px 5px 15px;
}