.Sec1 {
    background-color: #404e6a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid #141515;
    padding: 5px;
    margin-bottom: 2px;
}