.About1 {
    background-color: #404e6a;
    color: white;
    border: solid #141515;
    margin-bottom: 2px;
}

.AboutUL {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}


.AboutLI {
    display: flex;
    align-items: center;
    justify-content: center;
    border: thin solid #141515;
    margin: 2px;
    padding: 5px;
    list-style: none;
    /* width: 200px;
    height: 200px; */
}

.AboutAU {
    margin: 5px 5px 5px 15px;
}