.Navy {
    background-color: #a2aab9;
    border: solid #141515;
    margin-bottom: 2px;
    /* min-height: 40vh; */
}


.NavyUL {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 5px;
    color: white;
    padding: 30px;
    /* border: solid #141515; */
    
}

.NavyLI {
    border-left: 1px solid black;
    /* border: 1px solid black; */
    padding: 10px;
}