.Navy {
    background-color: #a2aab9;
    border: solid #141515;
    margin-bottom: 2px;
}


.NavyUL {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 3px;
    color: white;
    padding: 20px;
    
}

.NavyLI {
    border-left: 1px solid black;
    padding: 5px;
}