.Contact1 {
    background-color: #7498de;
    color: white;
    border: solid #141515;
    margin-bottom: 2px;
}

.HLink { 
  color: white;
}

.Contact2 {
  /* border: solid pink; */
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  align-content: center;
  
}

.ContactH3 {
    margin: 5px;
    text-align: center;
}

.ContactH5 {
  padding-left: 5px;
}

.ContactConnectUL {
  list-style: none;
}