.Search1 {
    display: flex;
    flex-direction: column;
    background-color: #545961;
    border: thin solid #141515;
    margin: 2px;
    max-width: 350px;
}


.SearchInput {
    border: thin solid #141515;
    margin: 10px;
    padding-left: 10px;
}