.ShopVehicle1 {
    background-color: #adb5c3;
    color: white;
    border: solid #141515;
    margin-bottom: 2px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}



.ShopVehicleH3 {
    margin: 15px;
    /* align-self: flex-start; */
}




